<!-- 组合小车底盘与摄像头与雷达 -->
<robot name="robot" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="move.xacro" />
    <xacro:include filename="base.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="lida.xacro" />
    <xacro:include filename="rviz_move.xacro" />  
    <xacro:include filename="lida_rivz.xacro" />        
</robot>
